* {
  box-sizing: border-box;
  margin: 0;
}

body {
}

.spinner-1 {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  overflow: hidden;
  position: relative;
  animation: text-fade 1.5s ease-in-out infinite;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid transparent;
  mix-blend-mode: overlay;
  animation: spin var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner-sector-red {
  border-top-color: lightcoral;
  --duration: 1s;
  --timing: ease-in-out;
}

.spinner-sector-blue {
  border-left-color: lightblue;
  --duration: 1.5s;
  --timing: ease-in;
}

.spinner-sector-green {
  border-right-color: lightgreen;
  --duration: 2s;
  --timing: ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-fade {
  0%,
  100% {
    color: rgb(0, 0, 0, 1);
  }

  25%,
  75% {
    color: rgb(0, 0, 0, 0.5);
  }

  50% {
    color: rgb(0, 0, 0, 0.1);
  }
}

.spinner-2 {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* overflow: hidden; */
  position: relative;
  animation: text-fade 1.5s ease-in-out infinite;
}

.spinner-2::before,
.spinner-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid transparent;
  mix-blend-mode: overlay;
  animation: spin var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner-2::before {
  border-top-color: lightcoral;
  --duration: 1.2s;
  --timing: ease-in-out;
}

.spinner-2::after {
  border-top-color: lightblue;
  --duration: 1.7s;
  --timing: ease-out;
}
